.info {
    display: block;
    border: 1px solid lightgray;
    width: 150px;
    margin: 24px auto 16px auto;
    padding: 8px;
    border-radius: 15px;
    text-align: center;
    color: gray;
}
