.film-list-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 450px;
    min-width: 280px;
    height: 280px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.film-image {
    width: 183px;
    height: 280px;
    min-width: 183px;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-rate .ant-rate-star:not(:last-child) {
    margin-inline-end: 3px !important;
}

.item-title {
    width: 100%;
    align-items: center;
}

.circle-rate {
    display: flex;
    min-width: 30px;
    min-height: 30px;
    margin-left: auto;
    border: 1px solid yellow;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.film-date {
    color: lightgray;
    font-size: 12px;
}

.film-description {
    height: 120px;
    line-height: 18px;
}

.film-genres {
    flex-wrap: wrap;
    row-gap: 1px !important;
}
