.film-list-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 450px;
    min-width: 280px;
    height: 280px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.film-image {
    width: 183px;
    height: 100%;
}
